.container {
    width:50%; /* Increased width */
    height: auto;
    border-radius: 10px;
    background-color: #2c2c2cab;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
}

.leaderboard .head {
	padding: 20px 16px;
	color: snow;
	font-size: 20px;
	text-align: center;
}
.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

.leaderboard .body {
	color: snow;
	font-size: 16px;
}
.leaderboard ol {
	counter-reset: number; 
}
.leaderboard li {
	padding: 16px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number; /* 遞增計數器 */
	content: counter(number) "."; /* 顯示計數器 */
	margin-right: 4px;
}
.leaderboard li:nth-child(1) {
	background: #00ddff;
}
.leaderboard li:nth-child(2) {
	background: #00ddffd4;
}
.leaderboard li:nth-child(3) {
	background: #00ddffa3;
}
.leaderboard li:nth-child(4) {
	background: #00ddff5b;
}
.leaderboard li:nth-child(5) {
	background: #00ddff45;
}