bytewars-master/node_modules/.cache/default-development/0.pack
bytewars-master/node_modules/.cache/.eslintcache
bytewars-master/node_modules/.cache/default-development/index.pack
bytewars-master/node_modules/.cache/default-development/index.pack.old
bytewars-master/node_modules/.cache/default-development/1.pack
