.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark background */
  position: relative; /* Required for absolute positioning of the center button */
  padding: 0 20px;
  color: #fff;
}

.navbar-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-byte {
  color: #ffffff;
}

.logo-wars {
  color: #00ddff;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Ensures true centering by offsetting the button's width */
}

.coding-button {
  text-decoration: none;
  background-color: #00ddff3d;
  color: #aaaaaa;
  padding: 10px 20px;
  border-radius: 5px;
}

.coding-button.active,
.coding-button:hover {
  background-color: #00ddff;
  color: #ffffff;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.right-button {
  text-decoration: none;
  color: #919191;
  background-color: #333; /* Initial gray color */
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.right-button.active,
.right-button:hover {
  background-color: #00ddff;
  color: #ffffff;
}



