.Header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202124;
    color: #ffffff;
    text-align: center;
  }
  
  .Header-text {
    font-size: 4rem;
    animation: fadeInFromAbove 0.5s ease-out forwards /* Use 'forwards' to retain the final state of the animation */
  }
  
  

  
  @keyframes fadeInFromAbove {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
    }
  
  .content-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    gap: 5px; /* Add space between the welcome text and the card */
  }

  .cards-container {
    display: flex; /* Align children (cards) in a row */
    justify-content: center; /* Center the cards container */
    gap: 20px; /* Space between each card */
  }

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .cards-container {
      flex-direction: column; /* Stack cards vertically on small screens */
    }
  }
  