.submit-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2b2b2b;
    color: rgb(164, 164, 164);
    transition: box-shadow 0.3s ease;
    transition: background-color 0.3s ease;
}
 
.submit-button:hover {
    background-color: #00ddff;
    color: rgb(255, 255, 255);
  }