.card {
  width: 300px;
  height: 300px;
  background-color: #2a2a2a81;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 0.5s;  
  background-image: url('/public/empty.png'); /* Default background image */
  transition: background-image 1s linear; /* Adjust transition for smooth background image change */
}

.card:hover {
  background-image: url('/public/code.png'); /* Change background image on hover */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
