.card {
  width: 300px;
  height: 300px;
  background-color: #2a2a2a81;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 0.5s;  
  transition: background-color 0.3s ease
}

card-image {
  width: 100%; /* Make the image cover the full width of the card */
  height: auto; /* Keep the image's aspect ratio */
  max-height: 200px; /* Adjust based on your design */
  object-fit: cover; /* Cover the card area without stretching the image */
  border-top-left-radius: 8px; /* Match the card's border radius */
  border-top-right-radius: 8px; /* Match the card's border radius */
}

.card:hover {
  background-color: #00ddff;

}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}